body {
  font-family: "Kanit";
  color: black;
  background-color: black;
  color: white;
}

.container {
  position: relative;
  width: 635px;
  height: 320px;
  background-color: white;
  top: 150px;
  left: 350px;
}

img {
  position: absolute;
  left: 5px;
  top: 8px;
}

#img-gradient {
  position: absolute;
  left: 5px;
  top: 265px;
  background-image: linear-gradient(360deg, rgb(0, 0, 0, 0.9), rgb(0, 0, 0, 0));
  width: 625px;
  height: 50px;
}

#location {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
  padding: 8px;
  width: 100px;
  height: 40px;
  right: 10px;
  top: 10px;
  font-size: 2rem;
  text-align: center;
}

#name {
  position: absolute;
  left: 10px;
  top: 270px;
  font-size: 2rem;
}
